.explore {
  margin: 30px 0 54px;

  .ex-header {
    display: inline-flex;
    align-items: center;
    width: 100%;
    margin-bottom: 27px;

    h3 {
      font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/22px var(--unnamed-font-family-lato);
      color: var(--unnamed-color-553a28);
      text-align: left;
      font: normal normal bold 18px/22px Lato;
      letter-spacing: 2.7px;
      color: #553A28;
      text-transform: uppercase;
      opacity: 1;
      margin: 0;
      width: calc(100% - 425px);
    }

    .ex-hd-right {
      display: inline-flex;
      align-items: center;
      width: 425px;

      p {
        margin: 0;

        strong {
          font: var(--unnamed-font-style-normal) normal 600 18px/22px var(--unnamed-font-family-lato);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-2c2c2c);
          text-align: left;
          font: normal normal 600 18px/22px Lato;
          letter-spacing: 0px;
          color: #2C2C2C;
        }

        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/22px var(--unnamed-font-family-lato);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-2c2c2c);
        text-align: left;
        font: normal normal normal 18px/22px Lato;
        letter-spacing: 0px;
        color: #2C2C2C;
      }

      a {
        margin-left: 30px;
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-14)/17px var(--unnamed-font-family-lato);
        color: var(--unnamed-color-2c2c2c);
        text-align: right;
        font: normal normal bold 14px/17px Lato;
        letter-spacing: 1.4px;
        color: #2C2C2C;
        text-transform: uppercase;

        img {
          margin-left: 7px;
        }
      }
    }
  }

  .ant-tabs {
    .ant-tabs-nav{
      &::before{
        border: none;
      }
    .ant-tabs-nav-wrap {
      .ant-tabs-nav-list {
        .ant-tabs-tab {
          padding: 0 0 4px;
          .ant-tabs-tab-btn {
            font: var(--unnamed-font-style-normal) normal medium 18px/22px var(--unnamed-font-family-lato);
            letter-spacing: var(--unnamed-character-spacing-0);
            color: var(--unnamed-color-2c2c2c);
            text-align: left;
            font: normal normal medium 18px/22px Lato;
            letter-spacing: 0px;
            color: #2C2C2C;
            opacity: 0.6;
          }
        }
        .ant-tabs-tab-active{
          font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/22px var(--unnamed-font-family-lato);
          letter-spacing: var(--unnamed-character-spacing-0);
          color: var(--unnamed-color-2c2c2c);
          text-align: left;
          font: normal normal bold 18px/22px Lato;
          letter-spacing: 0px;
          color: #2C2C2C;
          opacity: 1;
        }
        .ant-tabs-ink-bar {
          background-color: #E5AB4E;
          height: 3px;
        }
      }
    }
    }
  }
  .view-explore{
    margin-top: 26px;
  }
}