.headerPage {
  background: #fff;
  border: none;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 10px 20px;
  box-sizing: border-box;
  overflow: hidden;
  height: auto;
  border: none;
  z-index: 999 !important;

  .hd-content {
    z-index: 999;
    display: inline-flex;
    width: 100%;
    align-content: center;

    .logo {
      img {
        width: 100%;
      }
    }

    .ant-menu {
      display: inline-flex;
      align-content: center;
      align-items: center;
      border: none;
      margin-left: 20px;
      width: calc(100% - 420px - 52px);

      .ant-menu-item {
        font: var(--unnamed-font-style-normal) normal 600 18px/22px var(--unnamed-font-family-lato);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-2c2c2c);
        text-align: left;
        font: normal normal 600 18px/22px Lato;
        letter-spacing: 0px;
        color: #2C2C2C;
        opacity: 0.5;

        &:hover {
          border: none;
        }
      }

      .ant-menu-item-selected {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) 18px/22px var(--unnamed-font-family-lato);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-553a28);
        text-align: left;
        font: normal normal bold 18px/22px Lato;
        letter-spacing: 0px;
        color: #553A28;
        opacity: 1;
        border: none;
      }
    }

    .menuRight {
      display: inline-flex;
      align-items: center;
      width: 420px;

      .ant-dropdown-link {
        font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-16)/19px var(--unnamed-font-family-lato);
        letter-spacing: var(--unnamed-character-spacing-0);
        color: var(--unnamed-color-553a28);
        text-align: left;
        font: normal normal bold 16px/19px Lato;
        letter-spacing: 0px;
        color: #553A28;
        opacity: 1;
        width: 200px;

        .location {}

        .address {
          display: block;
          font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/17px var(--unnamed-font-family-lato);
          letter-spacing: var(--unnamed-character-spacing-0);
          text-align: left;
          font: normal normal normal 14px/17px Lato;
          letter-spacing: 0px;
          color: #A77D61;
          opacity: 0.9;
        }
      }

      .ant-menu {
        display: inline-flex;
        align-content: center;
        align-items: center;
        border: none;
        margin-left: 20px;
        width: calc(100% - 200px);

        .ant-menu-item {
          margin: 0;
          margin-left: 35px;

          &:hover {
            border: none;
          }
        }

        .ant-menu-item-selected {

          border: none;
        }
      }
    }
  }
}